<%= javascript_include_tag "style" %>
<%= javascript_include_tag "pad" %>

<TABLE WIDTH=500>
  <tr> 
    <td> 
	  <%= javascript_include_tag "read" %>
      <SCRIPT Language="JavaScript">
var ZZZ = getValue(passed, 'calculate_option');

if (ZZZ == 1) {

if (getValue(passed, 'NumberOfYears') > 15) {

alert("Please wait while Standard Loan Calculator builds the amortization table. This can take up to 30 seconds or more, depending on the speed of your computer's processor and the web browser you are using.\n\nInternet Explorer Users: When computing a long-term loan, you may get the following message: 'A script on this page is causing Internet Explorer to run slowly. If it continues to run, your computer may become unresponsive. Do you want to abort the script?'\n\nThere is absolutely no danger of your computer becoming unresponsive. Click NO when you get this message box to display the results of your calculation.");

}

}
</SCRIPT>
      <CENTER>
      </CENTER>
      <% form_tag do %>
        <CENTER>
          <TABLE Border=1 Cellpadding=7>
            <TR> 
              <TD COLSPAN=2 BGCOLOR=#FFFFEE> 
                <CENTER>
                  <span class=FontThree> Standard Loan Calculator</span>
                </CENTER><hr size="1" width="100%">
                <span class=FontThree> 
                <CENTER>
                  Results
                </CENTER>
                </span> </TD>
            </TR>
            <TR> </TR>
            <TR> 
              <TD BGCOLOR=#EEEEEE> <span class=FontFour> Loan Amount: </span> 
              </TD>
              <TD BGCOLOR=#EEFFEE> <span class=FontFour> 
                <SCRIPT LANGUAGE="JavaScript">
	var A = getValue(passed,'LoanAmount');
	if (A < 0) { A = 0 }
	document.write(currencyPad(A));
</SCRIPT>
                </span> </TD>
            </TR>
            <TR> 
              <TD BGCOLOR=#EEEEEE> <span class=FontFour> Interest Rate: </span> 
              </TD>
              <TD BGCOLOR=#FFEEEE> <span class=FontFour> 
                <SCRIPT LANGUAGE="JavaScript">
	var B = getValue(passed,'InterestRate');
	if (B < 0) { B = 0 }
	document.write(roundingPad((B * 100.00)/100)+"%");
</SCRIPT>
                </span> </TD>
            </TR>
            <TR> 
              <TD BGCOLOR=#EEEEEE> <span class=FontFour> Number of Years: </span> 
              </TD>
              <TD BGCOLOR=#EEEEFF> <span class=FontFour> 
                <SCRIPT LANGUAGE="JavaScript">
	var C = getValue(passed,'NumberOfYears');
	if (C < 0) { C = 0 }
	document.write(integerPad(C));
</SCRIPT>
                </span> </TD>
            </TR>
            <TR> 
              <TD BGCOLOR=#EEEEEE> <span class=FontFour> Number of Periods Per 
                Year: </span> </TD>
              <TD BGCOLOR=#FFEEFF> <span class=FontFour> 
                <SCRIPT LANGUAGE="JavaScript">
	var D = getValue(passed,'NumberOfPeriods');
	if (D < 0) { D = 0 }
	document.write(integerPad(D));
</SCRIPT>
                </span> </TD>
            </TR>
            <TR> 
              <TD BGCOLOR=#EEEEEE> <span class=FontFour> Payment Amount: </span> 
              </TD>
              <TD BGCOLOR=#EEFFEE> <span class=FontFour> 
			    <%= javascript_include_tag "slcc" %>
                </span> </TD>
            </TR>
            <TR> 
              <TD BGCOLOR=#EEEEEE> <span class=FontFour> Total Interest Paid: 
                </span> </TD>
              <TD BGCOLOR=#FFEEEE> <span class=FontFour> 
                <SCRIPT LANGUAGE="JavaScript">
	document.write(currencyPad(TOTINT));
</SCRIPT>
                </span> </TD>
            </TR>
          </TABLE>
          <br>
          <br>
		  <%= javascript_include_tag "slca" %>
		  <%= javascript_include_tag "endb" %>
        </center>
      <% end %>
</table>