<div class="innercontent clearfix">
                                <div id="main">
                                    <h1>ACFCU Newsletter</h1>
                                    <ul class="spaced">
                                        <li><%= link_to 'Summer 2010 Newsletter', "newsletter/062210.pdf", :rel=>"external" %></li>
                                        <li><%= link_to 'Winter 2010 Newsletter', "newsletter/012010.pdf", :rel=>"external" %></li>
                                        <li><%= link_to 'Summer 2009 August part 2 Newsletter', "newsletter/0809Page2.pdf", :rel=>"external" %></li>
                                        <li><%= link_to 'Summer 2009 August part 1 Newsletter', "newsletter/0809Page1.pdf", :rel=>"external" %></li>
                                        <li><%= link_to 'Summer 2009 June Newsletter', "newsletter/0609summer09.pdf", :rel=>"external" %></li>
                                        <li><%= link_to 'Summer 2009 Newsletter', "newsletter/ACFCU_NEWSApril09_z.pdf", :rel=>"external" %></li>
                                        <li><%= link_to 'Spring 2009 Newsletter', "newsletter/022009.pdf", :rel=>"external" %></li>
                                        <li><%= link_to 'Fall 2008 Newsletter', "newsletter/082008.pdf", :rel=>"external" %></li>
                                    </ul>
                                </div>
                            </div>