<div class="innercontent clearfix">
                                <div id="main">
								  <a name="top" id="top"></a>
                                    <h1>Products &amp; Services</h1>
                                    <p>
                                        There are a lot of reasons to save money. Maybe you're planning a special purchase
                                        or family vacation. You may have long-range needs like a child's college education.
                                        Or maybe you just need to build a nest egg for some extra peace of mind.
                                    </p>
                                    <p>
                                    	When you're ready to start saving, we can help. We offer a variety of investment
                                    	accounts all with features you need like:
                                    </p>
                                    <ul class="disc">
                                        <li>low minimum balance requirements </li>
                                        <li>no maintenance fees </li>
                                        <li>payroll deduction </li>
                                        <li>competitive interest rates </li>
                                        <li>deposits federally insured up to $250,000 </li>
                                    </ul>
                                    <h2>Take a look at what we offer </h2>
                                    <ul class="disc">
                                        <li><%= link_to 'Regular savings', :anchor => 'savings' %></li>
                                        <li><%= link_to 'Checking Accounts', :anchor => 'checking' %></li>
                                        <li><%= link_to 'Custodial or minor account', :anchor => 'custodial' %></li>
                                        <li><%= link_to 'Special savings account', :anchor => 'special' %></li>
                                        <li><%= link_to 'Holiday Club', :anchor => 'holiday' %></li>
                                        <li><%= link_to 'Money Market account', :anchor => 'moneymarket' %></li>
                                        <li><%= link_to 'Share Certificates of Deposit', :anchor => 'certificates' %></li>
                                        <li><%= link_to 'Individual Retirement Account', :anchor => 'IRA' %></li>
                                    </ul>
                                    <p />
                                    <a name="savings" id="savings"></a>
                                    <div class="bottomborder"> 
                                        <h2>Regular Savings</h2>
                                        This is a basic savings account. It's called a Regular Savings account because
                                        it represents your ownership share in the Auto Club Federal Credit Union Credit
                                        Union and opens the door to our array of products and services. Every member
                                        must hold a Regular Savings account to be a member of the Auto Club Federal Credit
                                        Union Credit Union. An initial deposit of just $15.00 starts you earning dividend
                                        rates that are compounded daily and paid monthly. <br />
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                    <div class="bottomborder"> 
                                        <a name="custodial" id="custodial"></a>
                                        <h2>Custodial or Minor Account</h2>
                                        Special credit union membership for children. Parent (custodian) controls the
                                        account; dividends are reported to the child's Social Security number. Account
                                        must be closed and/or converted to regular membership between age 18 and 21 (as
                                        designated by custodian). Any withdrawals must be issued by check. <br />
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                    <div class="bottomborder"> 
                                        <a name="special" id="special"></a>
                                        <h2>Special Savings Account</h2>
                                        The Special Savings Account allows you to save for a special purpose like vacation,
                                        taxes, insurance, etc. $10 minimum to open and maintain. Withdrawals limited
                                        to once per year. <br />
                                        <br />
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                    <div class="bottomborder"> 
                                        <a name="holiday" id="holiday"></a>
                                        <h2>Holiday Club Account</h2>
                                        <p>
                                            The easy way to save all year long for the holidays. $10 to open and maintain.
                                            Money made available in early November; account automatically renews for the
                                            next year. Refer to Schedule of Fees and Charges for withdrawals; if you take
                                            the funds out early, the account maybe be closed as well as being assessed a
                                            penalty. <br />
                                            <br />
                                            At anytime during the year, you can set up via your savings, checking or payroll
                                            deduction a certain amount of money to be transferred to your Holiday Club Account.
                                            On the 1st week of November of each year, all the money deposited is automatically
                                            transferred into your regular savings account, at this point a check can be sent
                                            to you!
                                        </p>
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                    <div class="bottomborder"> 
                                        <a name="checking" id="checking"></a>
                                        <h2>Checking Accounts</h2>
                                        <p>
                                            At ACFCU, we offer a checking account plan that is perfect for the economy-minded
                                            member! We even provide Overdraft Protection to qualified members. Members may
                                            also automatically draw upon funds from their saving account to cover checks
                                            written, if needed. Check out these great benefits that come with your ACFCU
                                            Checking Account:
                                        </p>
                                        <ul> 
                                            <li>No monthly service charge with Direct Deposit to your ACFCU Checking</li>
                                            <li>Account</li>
                                            <li>No minimum balance rqeuirement</li>
                                            <li>Free MasterCard &reg; Debit Card</li>
                                            <li>Unlimited check writing </li>
                                            <li>Home Banking</li>
                                            <li>Bill Payer Plus</li>
                                            <li>E-statements</li>
                                        </ul>
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                    <div class="bottomborder"> 
                                        <a name="moneymarket" id="moneymarket"></a>
                                        <h2>Money Market Savings or Checking Accounts</h2>
                                        <p>
                                            Money Market Savings and Checking accounts are excellent income building accounts.
                                            If you're saving money for a large purchase such as a new home, a remodeling
                                            project or even retirement, you can earn greater dividends and still have access
                                            to your money. Money Market accounts offer you the flexibility, dividends and
                                            protection you need. <br />
                                            <br />
                                            The Credit Union's Money Market program offers an attractive rate, complete liquidity,
                                            and a low minimum balance requirement. This combination makes our Money Market
                                            Account a popular choice. You must maintain a minimum daily balance of $2500
                                            or $5000.00 (depending on the product of your choice) to obtain the Annual Percentage
                                            Yield. Dividends will be compounded daily and paid monthly.
                                        </p>
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                    <div class="bottomborder"> 
                                        <a name="certificates" id="certificates"></a>
                                        <h2>Share Certificates of Deposit</h2>
                                        <p>
                                            The Auto Club Federal Credit Union offers highly competitive dividend rates on
                                            Share Certificates for terms of 90 days to 48 months. A low $500 minimum deposit
                                            lets you maximize your yield with the complete security of NCUA insurance. You&rsquo;ll
                                            also enjoy:
                                        </p>
                                        <ul class="disc">
                                            <li>A dividend rate that&rsquo;s guaranteed throughout the term</li>
                                            <li>Maximum return with dividends compounded and posted monthly</li>
                                            <li>Statements detailing dividend earnings</li>
                                            <li>At the end of the certificate term, you will receive a maturity notice with
                                            a 10-day grace period. Take this opportunity to select another term, add funds
                                            to your account, or allow your certificate to renew automatically.</li>
                                        </ul>
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                    <div class="bottomborder"> 
                                        <a name="IRA" id="IRA"></a>
                                        <h2>Individual Retirement Accounts</h2>
                                        <p>
                                            IRAs are more flexible than they've ever been. They're no longer considered strictly
                                            retirement savings tools because they can help you pay for college, a first-time
                                            home purchase and more. <br />
                                            <br />
                                            Retirement plan changes under the Economic Growth and Tax Relief Reconciliation
                                            Act signed into law on June 7, 2001, provide even more incentives for saving.
                                            Some of the enhancements to IRA provisions of the new tax bill include:
                                        </p>
                                        <ul class="disc">
                                            <li>Annual IRA contribution limits have been increased from $2,000 to $3,000 for
                                            tax year 2002 - this amount will gradually increase to $5,000 by year 2008</li>
                                            <li>Catch-up contributions allowed for individuals age 50 &amp;  over. Add an additional
                                            $500 for tax year 2002 - this amount will increase to $1,000 in tax year 2006</li>
                                            <li>Low Income Savers Credit available for certain individuals. You may be eligible
                                            to receive a credit on your contribution if you meet certain income requirements
                                            (please confer with your tax preparer)</li>
                                            <li>Increased portability for your retirement savings. Untaxed Traditional IRA
                                            assets are now generally permitted to be rolled over into a qualified retirement
                                            plan (employer plan)</li>
                                        </ul>
                                        <p class="smallprint">*Consult a tax professional regarding your individual circumstances.</p>
                                        <p><%= link_to 'Back to Top', :anchor => 'top' %></p>
                                    </div>
                                </div>
                            </div>