<div class="innercontent clearfix">
                                <div id="main">
                                    <h1>Contact Us</h1>
                                    <h3>Auto Club Federal Credit Union</h3>
                                    <table class="contact">
                                        <tr>
                                            <td><strong>Cerritos Corporate Offices</strong><br />
                                                18327 Gridley Rd., Suite F<br />
                                                Cerritos, CA., 90703<br />
                                                Phone: 562-924-1843<br />
                                                Fax: 562-924-5053 </td>
                                            <td><strong>or</strong></td>
                                            <td><strong>Costa Mesa Branch</strong><br />
                                                3333 Fairview Road, A190<br />
                                                Costa Mesa, CA., 92626<br />
                                                Phone: 714-850-5157<br />
                                                Fax: 714-850-5645 </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <br />
                                                Hawaii, New Mexico, and Texas - Toll Free: <strong>1-888-850-3529</strong><br />
                                                &quot;MOM&quot; (Free Automated Telephone Service): <strong>1-800-500-4066 <br />
                                                <br />
                                                </strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Office Hours:</strong><br />
                                                Monday - Friday <br />
                                                (Excluding Holidays)</td>
                                            <td colspan="2">
                                                Open: 8:30am to 11:00am <br />
                                                Closed: 11:00am - 12:00pm <br />
                                                Re-Open: 12:00pm - 3:30pm </td>
                                        </tr>
                                    </table>
                                    <br />
                                    <h3>Staff Contact:</h3>
                                    <br />
                                    <table class="contact">
                                        <tr>
                                            <td class="left"><%= mail_to "bmoreno@autoclubfcu.com", "Bob Moreno, President / CEO", :encode => 'hex' %></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><%= mail_to "ejazz@autoclubfcu.com", "Eloy Gutierrez, Operations Manager", :encode => 'hex' %></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><%= mail_to "eislas@autoclubfcu.com", "Esther Islas, Accountant", :encode => 'hex' %></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><%= mail_to "ccolon@autoclubfcu.com", "Carmen Colon, Loan Officer", :encode => 'hex' %></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><%= mail_to "gplascencia@autoclubfcu.com", "Grace Plascencia, Member Information Officer", :encode => 'hex' %></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><%= mail_to "sfischer@autoclubfcu.com", "Sharon Fischer, Collection Officer/Membership Recruiter", :encode => 'hex' %></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><%= mail_to "mcruz@autoclubfcu.com", "Monica Cruz, Member Service Representative", :encode => 'hex' %></td>
                                        </tr>
                                    </table>
                                    <br />
                                    General Questions / Concerns Email: <%= mail_to "info@autoclubfcu.com" %>
                                </div>
                            </div>