<div class="innercontent clearfix">
                                <div id="main">
                                    <a name="top" id="top"></a>
                                    <h1>FAQ</h1>
                                    <ul class="disc">
                                        <li><strong><%= link_to "What&rsquo;s a Credit Union?", :anchor => "Question1" %></strong></li>
                                        <li><strong><%= link_to "Who owns a credit union?", :anchor => "Question2" %></strong></li>
                                        <li><strong><%= link_to "How did credit unions start?", :anchor => "Question3" %></strong></li>
                                        <li><strong><%= link_to "What is the purpose of a credit union?", :anchor => "Question4" %></strong></li>
                                        <li><strong><%= link_to "Are savings deposits insured?", :anchor => "Question5" %></strong></li>
                                        <li><strong><%= link_to "Who can join a credit union?", :anchor => "Question6" %></strong></li>
                                        <li><strong><%= link_to "Who can join Auto Club Federal Credit Union?", :anchor => "Question7" %></strong></li>
                                        <li><strong><%= link_to "How can I open an Auto Club FCU account?", :anchor => "Question8" %></strong></li>
                                        <li><strong><%= link_to "When can I join, I am a new Auto Club Employee?", :anchor => "Question9" %></strong></li>
                                        <li><strong><%= link_to "How much do I need to open an account?", :anchor => "Question10" %></strong></li>
                                        <li><strong><%= link_to "Can my spouse join?", :anchor => "Question11" %></strong></li>
                                        <li><strong><%= link_to "What happens if I leave the Auto Club or retire?", :anchor => "Question12" %></strong></li>
                                        <li><strong><%= link_to "When can I apply for a loan?", :anchor => "Question13" %></strong></li>
                                        <li><strong><%= link_to "How can I open an Auto Club FCU account?", :anchor => "Question14" %></strong></li>
                                    </ul>
                                    <div class="bottomborder">     
                                        <h2><a name="Question1" id="Question1"></a>What&rsquo;s a Credit Union?</h2><br />
                                        A credit union is a cooperative, not-for-profit financial institution 
                                        organized to promote thrift and provide credit to members. It is  
                                        member-owned and controlled through a board of directors elected by the 
                                        membership. The board serves on a volunteer basis and may hire a 
                                        management team to run the credit union. The board also establishes and 
                                        revises policy, sets dividend and loan rates, and directs certain 
                                        operations. The result: members are provided with a safe, convenient 
                                        place to save and borrow at reasonable rates at an institution which 
                                        exists to benefit them, not to make a profit.
                                        <p><strong><%= link_to "Back to Top", :anchor => "top" %></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question2" id="Question2"></a>Who owns a credit union?</h2><br />
                                        Most financial institutions are owned by stockholders, who own a part 
                                        of the institution and intend on making money from their investment. A 
                                        credit union doesn't operate in that manner. Rather, each credit union 
                                        member owns one &quot;share&quot; of the organization. The user of credit union 
                                        services is also an owner, and is even entitled to vote on important 
                                        issues, such as the election of member representatives to serve on the 
                                        board of directors.
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question3" id="Question3"></a>How did credit unions start?</h2><br />
                                        The first credit union cooperatives started in Germany over a century 
                                        ago. Today, credit unions are found everywhere in the world. The credit 
                                        union movement started in this country in Manchester, New Hampshire. 
                                        There, the St. Mary's Cooperative Credit Association, a 
                                        church-affiliated credit union, opened its doors in 1909. Today, one in 
                                        every three Americans is a credit union member.
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question4" id="Question4"></a>What is the purpose of a credit union?</h2><br />
                                        The primary purpose in furthering their goal of service is to encourage 
                                        members to save money. Another purpose is to offer loans to members. In 
                                        fact, credit unions have traditionally made loans to people of ordinary 
                                        means. Credit unions can charge lower rates for loans (as well as pay 
                                        higher dividends on savings) because they are nonprofit cooperatives. 
                                        Rather than paying profits to stockholders, credit unions return 
                                        earnings to members in the form of dividends or improved services.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question5" id="Question5"></a>Are savings deposits insured?</h2><br />
                                        Yes. All savings accounts are insured up to $250,000 by the NCUA, the 
                                        National Credit Union Administration, an agency of the federal 
                                        government. The Helping Families Save Their Homes Act of 2009, signed 
                                        into law May 20, 2009, includes a provision extending $250,000 share 
                                        insurance coverage provided by the National Credit Union Share 
                                        Insurance Fund through December 31, 2013. Previously, this level of 
                                        coverage was set to expire December 31, 2009.<br /><br />
                                        The National Credit Union Administration is the independent federal 
                                        agency that regulates charters and supervises federal credit unions. 
                                        NCUA, with the backing of the full faith and credit of the U.S. 
                                        government, also operates and manages the National Credit Union Share 
                                        Insurance Fund, insuring the deposits of nearly 90 million account 
                                        holders in all federal credit unions and the majority of  state-chartered credit unions.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question6" id="Question6"></a>Who can join a credit union?</h2><br />
                                        A credit union exists to serve a specific group of people, such as a 
                                        group of employees or the members of a professional or religious group. 
                                        This is called a &quot;field of membership.&quot; The field of membership may 
                                        include where they live, where they work, or their membership in a 
                                        social or economic group.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question7" id="Question7"></a>Who can join Auto Club Federal Credit Union?</h2><br />
                                        If you are an employee of the Auto Club Enterprises and if you are a 
                                        retiree of the previously named organizations, you are eligible to 
                                        join. (Please contact the Credit Union for clarification)<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question8" id="Question8"></a>How can I open an Auto Club FCU account?</h2><br />
                                        By filling out an Invitation to Credit Union Services Application.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question9" id="Question9"></a>When can I join, I am a new Auto Club Employee?</h2><br />
                                        As soon as you have been assigned an employee number you can join.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question10" id="Question10"></a>How much do I need to open an account?</h2><br />
                                        $15.00 is needed to open a regular membership account - $5.00 is yours 
                                        as a minimum share balance and the $10.00 is a membership fee. Once you 
                                        join you are a member-owner of Auto Club FCU because the Credit Union 
                                        is owned by its members not by a corporation or stockholders such as a 
                                        bank.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question11" id="Question11"></a>Can my spouse join?</h2><br />
                                        Once you join yourself, the Credit Union the benefits of membership are 
                                        also available to your entire family. Your spouse, children, 
                                        grandchildren, grandparents, brothers, sisters, aunts, uncles, cousins, 
                                        in-laws, and those living under the same household are all invited to 
                                        become member-owners of Auto Club Federal Credit Union.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question12" id="Question12"></a>What happens if I leave the Auto Club or retire?</h2><br />
                                        Once a member always a member at Auto Club Federal Credit Union, even if you move out of state.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question13" id="Question13"></a>When can I apply for a loan?</h2><br />
                                        You can apply the same day you open your ACFCU Membership account. All 
                                        of the products and services are available to 
                                        you once you open your  account.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2><a name="Question14" id="Question14"></a>How can I open an Auto Club FCU account?</h2><br />
                                        By filling out an Invitation for Membership
                                        Application. <a class="bold" href="pdf/memberapp.pdf" rel="external">Click
                                        HERE</a>.<br />
                                        <p><strong><%= link_to "Back to Top", :anchor => "top"%></strong></p>
                                    </div>
                                </div>
                            </div>