<div class="innercontent clearfix">
                                <div id="main">
                                    <h1>Links</h1>
                                    <%= image_tag "object2.jpg", :alt => "mouse", :class => "fright" %>
                                    <ul class="pad">
                                        <li><strong><%= link_to "Congress", "http://www.congress.org/congressorg/home/", :rel => 'confirm' %></strong>
                                        </li>
                                        <li><strong><%= link_to "CUNA", "http://www.cuna.org", :rel => 'confirm' %></strong></li>
                                        <li><strong><%= link_to "NCUA", "http://www.ncua.gov", :rel => 'confirm' %></strong></li>
                                        <li><strong><%= link_to "http://www.aaa-calif.com/auto/buy/carsale.asp", "http://www.aaa-calif.com/auto/buy/carsale.asp", :rel => 'confirm' %></strong></li>
                                        <li><strong><%= link_to "Kelley Blue Book", "http://www.kbb.com", :rel => 'confirm' %></strong></li>
                                    </ul>
                                    <p>&quot;Links from our website are provided for your convenience only.
                                    These linked sites are separate from our credit union's website. We are
                                    not responsible for the content or availability of any linked third party
                                    websites or the privacy practices of such third parties. You should always
                                    investigate the information practices of all websites that you access
                                    and carefully examine the privacy policies of any websites linking to
                                    or from our website. Information collected from the linked websites will
                                    be subject to the information practices of those websites.&quot;</p>
                                </div>
                            </div>