<div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                <h1>Scam Alerts</h1>
                                <div class="blu"><h3>IMPORTANT NOTICE: PHISHING &amp; SPOOFING</h3></div>
                                <p>
                                    With the recent rise in email and internet scams (phishing
                                    and spoofing scams), it is extremely important to never disclose
                                    any of your personal information over the phone or online, unless
                                    you have verified the authenticity of the individual or website.
                                </p>
                                <p>
                                    AUTO CLUB FEDERAL CREDIT UNION Federal Credit Union assures
                                    you that we will never initiate calls or send emails to our members
                                    asking for personal member information, such as social security
                                    number, address, credit card numbers, etc. AUTO CLUB FEDERAL
                                    CREDIT UNION routinely asks for verification of members contacting
                                    the credit union. This is just one of the security measures taken
                                    when conducting business transactions. If you have questions
                                    or concerns regarding identity theft, please feel free to <%= link_to 'contact the credit union', contact_path %> .
                                </p>
                                <strong>Protect Yourself from Identity Theft </strong>
                                <p>
                                    It is estimated that 9.9 million Americans were victims of
                                    identity theft in 2004. Identity-Theft is the fastest growing
                                    crime in America; 9.9 MILLION victims were reported last year,
                                    according to a Federal Trade Commission survey! <strong>Don't
                                    become identity theft's next victim!</strong> <br />
                                    There are simple precautions that will keep your identity safe.
                                    We've provided the following information as a courtesy to help
                                    protect you from identity fraud and other criminal activities.</p>
                                <p>
                                    <strong>Review the links and information on this page to learn
                                    how to protect your personal and financial information. </strong>
                                </p>
                                <div class="blu"><h3>If your identity has been stolen, here's what to do:</h3></div>
                                <ul>
                                    <li>Call AUTO CLUB FEDERAL CREDIT UNION Federal Credit Union
                                    at 562-924-1843 or 714-850-5157 for immediate assistance.</li>
                                    <li>Contact the fraud departments of any one of the three major
                                    credit bureaus to place a fraud alert on your credit file.
                                    The fraud alert requests creditors to contact you before opening
                                    any new accounts or making any changes to your existing accounts.
                                    As soon as the credit bureau confirms your fraud alert, the
                                    other two credit bureaus will be automatically notified to
                                    place fraud alerts, and all three credit reports will be sent
                                    to you at no cost.</li>
                                    <li>Credit Bureaus: <%= link_to 'Experian', "http://www.experian.com", :rel => 'confirm' %>, <%= link_to 'Equifax', "http://www.equifax.com", :rel => 'confirm' %> and <%= link_to 'Trans Union', "http://www.transunion.com", :rel => 'confirm' %>.</li>
                                    <li>Close the accounts that you know or believe have been tampered
                                    	with or opened fraudulently.</li>
                                    <li>Use the FTC's <%= link_to 'Theft Affidavit', "http://www.ftc.gov/bcp/edu/resources/forms/affidavit.pdf", :rel => 'confirm' %> when disputing new unauthorized accounts.</li>
                                    <li>File a police report. Get a copy of the report to submit
                                        to your creditors and others that may require proof of the
                                        crime.</li>
                                    <li><%= link_to 'File your complaint with the FTC', "https://www.ftccomplaintassistant.gov/", :rel => 'confirm' %>. The FTC maintains a database
                                        of identity theft cases used by law enforcement agencies
                                        for investigations. Filing a complaint also helps us learn
                                        more about identity theft and the problems victims are having
                                        so that we can better assist you.</li>
                                    <li>If you believe you have been a victim of Mail Fraud, <%= link_to 'submit a mail fraud complaint form with the U.S. Postal Inspection Service', "https://www.usps.com/postalinspectors/fraud/MailFraudComplaint.htm", :rel => 'confirm' %>.</li>
                                </ul>
                                <div class="blu"><h3>Be Smart. Protect Yourself from Identity Theft</h3></div>
                                <p>The following information is designed to safeguard your financial information.</p>
                                <ul>
                                    <li><%= link_to 'Credit Card Fraud Protection', :anchor => "credit" %></li>
                                    <li><%= link_to 'Identity Theft Protection', :anchor => "identity" %></li>
                                    <li><%= link_to 'Check Cashing Fraud Protection', :anchor => "cashing" %></li>
                                    <li><%= link_to 'ATM Fraud Protection', :anchor => "atmprev" %></li>
                                    <li><%= link_to 'ATM Scams', :anchor => "atmscams" %></li>
                                    <li><%= link_to 'Precautions to take for countering these scams', :anchor => "precautions" %></li>
                                </ul>
                                <a name="credit" id="credit"></a>
                                <div class="blu"><h3>Credit Card Fraud Protection</h3></div>
                                <p>
                                    Credit card fraud generally occurs when cards or card numbers
                                    are compromised. By following these simple guidelines your potential
                                    for loss can be minimized.
                                </p>
                                <p><strong>Tips for protecting yourself against credit card fraud</strong></p>
                                <ol>
                                    <li>Keep a list of all your credit cards including the account
                                    	number and phone number to the issuing company.</li>
                                    <li>Review your credit card statement as soon as possible. Match
                                        charges with your receipts to ensure all charges are yours
                                        and are for the correct amount.</li>
                                    <li>Always sign a new credit card immediately.</li>
                                    <li>When making a purchase with a credit card, make sure your
                                    	get back the card and the receipt. Check the receipt for accuracy.</li>
                                    <li>When using a credit card at a restaurant or store, make sure
                                        that all blank lines are marked through so that no one can
                                        change the final amount.</li>
                                    <li>Never sign blank credit card receipts.</li>
                                    <li>Only travel with the credit cards you plan on using.</li>
                                    <li>Never give the account number of the credit card over the
                                    	phone unless you initiate the call.</li>
                                    <li>When making an order over the telephone, try to avoid using
                                        a cordless phone. Cordless phones messages can be easily intercepted
                                        by devices as unsophisticated as baby monitors and police scanners.</li>
                                    <li>Do not write the PIN for the account on the card.</li>
                                </ol>
                                <a name="identity" id="identity"></a>
                                <div class="blu"><h3>Identity Theft Protection</h3></div>
                                <p>
                                    Identity theft can occur when an individual obtains personal
                                    information, such as your social security number, date of birth,
                                    address, and financial account numbers. Once this information
                                    is obtained, the thieves will assume or take on your identity,
                                    allowing them to illegally purchase items or obtain credit. By
                                    following these simple guidelines, your potential for loss due
                                    to identity theft can be greatly reduced.
                                </p>
                                <p><strong>Tips for protecting yourself against identity theft</strong></p>
                                <ol>
                                    <li>Check your credit report on a regular basis to ensure the
                                    information is correct.</li>
                                    <li>Immediately tear up (using a shredder is even better!) unsolicited
                                    credit card offers.</li>
                                    <li>Never give personal information over the phone unless you
                                    initiated the phone call.</li>
                                    <li>Never give a credit card number over the phone unless you
                                    have initiated the phone call.</li>
                                    <li>Always be familiar with financial accounts that you currently
                                    maintain. Verify statements and other information sent by your
                                    financial institution for accuracy.</li>
                                    <li>If you must store your canceled checks cut a triangle out
                                    of the signature line thereby eliminating duplication of the
                                    check and signature.</li>
                                </ol>
                                <a name="cashing" id="cashing"></a>
                                <div class="blu"><h3>Check Cashing Fraud Protection</h3></div>
                                <p>
                                    This guide provides tips for protecting yourself against check
                                    cashing fraud. Check cashing fraud occurs when individuals use
                                    information taken from your checks, or the checks themselves,
                                    to access your accounts and commit fraudulent acts. By following
                                    these simple guidelines you can greatly reduce your risk of becoming
                                    a victim.
                                </p>
                                <p><strong>Tips for protecting yourself against check cashing fraud</strong></p>
                                <ol>
                                    <li>Always safeguard your checks. Do not leave your checks out in
                                        an open area. Never leave your checks in your car or out on your
                                        desk at the office.</li>
                                    <li>Keep your blank checks and canceled checks in a safe place. Put
                                        them in a vault or other secure location. Destroy old blank checks
                                        if you are not going to use them.</li>
                                    <li>Limit the amount of personal information printed on the checks
                                        to your name and address. Use plain designed checks. The fancier
                                        the check the easier it is to forge the signature. Useful information
                                        for thieves includes not only your account numbers, but information
                                        used to verify your identity, such as your driver's license number,
                                        social security number, and secret codes. Don't have this information
                                        printed on your checks.</li>
                                    <li>Don't leave your bill payments sitting in an unlocked mailbox
                                        for pickup. Many credit thieves will steal bills from rural mailboxes
                                        at the end of driveways so they can get your account information,
                                        checking information, and even your checks. Go to the Post Office
                                        directly or use a curbside USPS mailbox (the blue metal ones)
                                        and drop your bills in the slot rather than using less secure
                                    	street mailboxes.</li>
                                    <li>Be discreet when writing checks in public places. Write your
                                        checks carefully and leave no space in which figures or words
                                        can be inserted.</li>
                                    <li>When you make an error in writing a check, be sure to destroy
                                        the check or write  					&quot;canceled&quot; across it and store
                                        it with your other canceled checks.</li>
                                    <li>If your checks are lost or stolen, report it immediately to your
                                    	financial institution.</li>
                                    <li>Reconcile your monthly statements as soon as you can to ensure
                                        all transactions are accurate. Contact us immediately if you
                                        do not receive it when expected. Be sure to contact your institution
                                        within that time frame to ensure that proper attention is given
                                        to reconciling the problem.</li>
                                    <li>When you reorder checks, mark your calendar. If you don't receive
                                        your checks within 15 working days, contact your financial institution
                                        immediately to inquire as to the status of the order.</li>
                                    <li>Consider alternatives to check writing. For instance, paying by phone, online, or setting up automatic payments. Fewer checks mean fewer theft opportunities.</li>
                                </ol>
                                <a name="atmprev" id="atmprev"></a>
                                <div class="blu"><h3>Automatic Teller Machine Fraud Protection</h3></div>
                                <p>
                                    ATM fraud can occur when individuals lose their card, give their card to someone else to use, or when their Personal Identification Number's confidentiality is compromised. By following these simple guidelines you can greatly reduce your exposure to ATM fraud.
                                </p>
                                <p><strong>Tips for protecting yourself against ATM fraud</strong></p>
                                <ol>
                                    <li>Never write your Personal Identification Number (PIN) on your card or in your wallet. Memorize your PIN as soon as possible.
                                    <li>Never use your date of birth, social security number, license number or street address as a PIN -- those are the first numbers a crook will try</li>
                                        Do not reveal your PIN to anyone not authorized to use the account.</li>
                                    <li>Don't throw away your ATM receipts at the ATM location. Keep them to reconcile your account, then dispose of them properly when you get home.</li>
                                    <li>Always be aware of your surroundings when using the ATM. If it is late at night, try to use a machine that is well lit and avoid dark, remote locations.</li>
                                    <li>Always make sure to retrieve your ATM card from the machine when the transaction is complete.</li>
                                    <li>Be aware of the person behind you. Make sure no one can see you entering your PIN or how much money you withdraw.</li>
                                    <li>Review your statement promptly to ensure all transactions are accurate. Report any discrepancies immediately.</li>
                                    <li>Destroy old ATM cards immediately after receiving your replacement cards.</li>
                                </ol>
                                <a name="atmscams" id="atmscams"></a>
                                <div class="blu"><h3>ATM Scams</h3></div>
                                <p>
                                    In addition to the types ATM fraud that most of us are now
                                    aware of, there are two new types that can clean out your account
                                    quickly -- card withholding and skimming.
                                </p>
                                <p>
                                    Card withholding occurs when your card gets stuck in the ATM,
                                    you can't get it out, and you leave the card in the ATM planning
                                    to contact the financial institution the next morning. When you
                                    call you find that the card was not stuck in the ATM. What happens
                                    is that thieves put a substance into the ATM card slot which
                                    will cause your card to stick inside the ATM. They leave the
                                    ATM and wait for someone to attempt to use the it. They then
                                    get in line behind the you and try to watch you enter your Personal
                                    Identification Number (PIN). This is very common at drive-up
                                    ATMs where the user may not be paying attention to other people
                                    or cars nearby.
                                </p>
                                <p>
                                    The thieves even go so far as to put up a sign on the ATM stating: &quot;If
                                    your card gets stuck, enter your PIN three separate times to
                                    retrieve it.&quot; This gives them three tries to watch you enter
                                    your PIN. After you leave frustrated, and planning to contact
                                    the ATM owner the next morning, they remove your card with a
                                    pair pliers. They can then use your card at other ATMs and Point-of-Sale (POS) terminals.
                                </p>
                                <p>
                                    Skimming is done at businesses that offer Point-of-Sale (POS)
                                    devices for you to pay with your ATM card, such as gas stations.
                                    The thieves convince an employee to allow them to connect a lap
                                    top computer or other device to the POS machine. The lap top
                                    is usually stored under the counter where the POS device is located.
                                    When you swipe your card in the POs device to make a payment
                                    the information on the magnetic strip on your ATM card is copied
                                    and loaded onto a disk. Thieves may also install a hidden video
                                    camera that records you entering your PIN. They then match the
                                    magnetic information to the PIN and access your accounts. Be
                                    on the watch for anything that is out of the ordinary.
                                </p>
								<a name="precautions" id="precautions"></a>
                                <div class="blu"><h3>Precautions to take for countering these scams:</h3></div>
                                <ol>
                                    <li>Before inserting your ATM card into an ATM inspect the card slot for any residue.</li>
                                    <li>If there is residue, don't use that ATM. If there is a notice on the ATM about 
                                    	entering your PIN several times, don't use that ATM.</li>
                                    <li>Always cover your hand when entering your PIN: if the thieves
                                    	don't have your PIN, they can't access your account.</li>
                                </ol>
                                <p>
                                    <strong>Actions for Fraud Victims </strong><br />
                                    If you suspect fraud, it is important to act quickly to minimize potential damage
                                    and your own liability. It is important to keep a detailed account of conversations
                                    you have with authorities and financial institutions.<br />
                                    <br />
                                    <strong>Credit Bureaus</strong><br />
                                    Immediately call the fraud units of the three credit reporting companies -- <%= link_to 'Experian', "http://www.experian.com", :rel => 'confirm' %>(formerly TRW),  <%= link_to 'Equifax', "http://www.equifax.com", :rel => 'confirm' %> and <%= link_to 'Trans Union', "http://www.transunion.com", :rel => 'confirm' %>. Ask that your account include a statement referencing the possibility
                                    of fraud. <br />
                                    <br />
                                    <strong>Creditors</strong><br />
                                    Contact all creditors immediately with whom your name has been used fraudulently
                                    -- by phone and in writing. Monitor your accounts closely for any further fraudulent
                                    activity. <br />
                                    <br />
                                    <strong>Law Enforcement</strong><br />
                                    Report the crime to police with jurisdiction in your case. Provide any documentation
                                    that you have collected. Get a copy of your police report. Keep the phone number
                                    of your fraud investigator handy and give it to creditors and others who require
                                    verification of your case. <br />
                                    <br />
                                    <strong>Financial Institutions</strong><br />
                                    If you have checks stolen or bank accounts set up fraudulently, contact the institution
                                    to report the crime. Put stop payments on appropriate outstanding checks. Close
                                    your checking and savings accounts and open new accounts. If your ATM card is
                                    stolen or compromised, get a new card and PIN. When choosing a PIN, don't use
                                    common numbers like the last four digits of your Social Security number, your
                                    date of birth, license number or street address. <br />
                                    <br />
                                    <strong>U.S. Postal Service</strong><br />
                                    Notify the local Postal Inspector if you suspect an identity thief has filed
                                    a change of your address with the post office or has used the mail to commit
                                    credit or bank fraud. <br />
                                    <br />
                                    <strong>Social Security Administration</strong><br />
                                    Call to report fraudulent use of your Social Security number. <br />
                                    <br />
                                    <strong>Department of Motor Vehicles (DMV)</strong><br />
                                    Call to see if another license was issued in your name. Go to your local DMV
                                    to request a new number. Also, fill out the DMV's complaint form to begin the
                                    fraud investigation process. Send supporting documents with the completed form
                                    to the nearest DMV investigation office. Request a driver's license number different
                                    than your Social Security number if available in your state. <br />
                                    <br />
                                    <strong>Civil Courts</strong><br />
                                    If a civil judgment has been entered in your name for actions taken by your impostor,
                                    contact the court where the judgment was entered and report that you are a victim
                                    of identity theft. If you are wrongfully prosecuted for criminal charges, contact
                                    the state Department of Justice and the FBI.</p>
                                    <p />
                                    <div class="blu"><h3>How to OPT-OUT of Credit Card Pre-Approvals </h3></div>
                                    <p>You can OPT OUT of credit card and other pre-approvals
                                    easily! When you do, you can choose to either opt
                                    out permanently or for five years. <br />
                                    <br />
                                    You can either call 1-888-5-OPT-OUT or go to 
                                    <br />
                                    <%= link_to 'optoutprescreen.com', "http://www.optoutprescreen.com", :rel => 'confirm' %>. <br />
                                    It won't eliminate every pre-approval. Frequent
                                    flier cards and hotel points cards are not blocked,
                                    for example. But it will take care of most of the
                                    offers you would have received.
                                </p>
                                <div class="blu">
                                <h3>Fraud Awareness Resources:</h3></div>
                                <table class="default">
                                    <tr>
                                    	<td><%= link_to 'onGuardOnline.gov', "http://www.onguardonline.gov", :rel => 'confirm' %><br />
                                        OnGuardOnline.gov provides practical tips from the
                                        federal government and the technology industry to help
                                        you be on guard against Internet fraud, secure your
                                        computer, and protect your personal information. </td>
                                        <td><%= link_to 'National Check Fraud Center', "http://www.ckfraud.org/", :rel => 'confirm' %><br />
                                        A complete source for assistance, information, and
                                        alert reports concerning check fraud, counterfeit checks,
                                        forgery, bank fraud, white collar crimes, plus more. </td>
                                    </tr>
                                    <tr>
                                        <td><%= link_to 'Federal Trade Commission', "http://www.consumer.gov/idtheft/", :rel => 'confirm' %> <br />
                                        Your National Resource for ID Theft information. </td>
                                        <td><%= link_to 'Identity Theft Resource Center', "http://www.idtheftcenter.org/", :rel => 'confirm' %> <br />
                                        An information resource for consumers and victims.
                                        Contains scam alerts, current laws, survey results,
                                        informational guides, and much more. </td>
                                    </tr>
                                    <tr>
                                        <td><%= link_to 'Identity Fraud Safety Quiz', "http://www.javelinstrategy.com/IDSAFETYQUIZ.htm/", :rel => 'confirm' %> <br />
                                        Take the Better Business Bureau's safety quiz and receive
                                        recommendations that can help protect your personal
                                        information. </td>
                                        <td><%= link_to 'Privacy Rights Clearinghouse', "http://www.privacyrights.org/identity.htm", :rel => 'confirm' %> <br />
                                        ID Theft facts, helpful publications, victim stories, and informational links. </td>
                                    </tr>
                                    <tr>
                                    <td><%= link_to 'Internet Safety', "http://www.ftc.gov/infosecurity", :rel => 'confirm' %> <br />
                                        For computer security and Internet safety. </td>
                                        <td><%= link_to "U.S. Department of Justice", "http://www.usdoj.gov/criminal/fraud/idtheft.html", :rel => 'confirm' %><br />
                                        The official ID Theft website of the U. S. Department of Justice. </td>
                                    </tr>
                                    <tr>
                                        <td><%= link_to 'The Anti-Phishing Working Group', "http://www.antiphishing.org/", :rel => 'confirm' %> <br />
                                        Learn about phishing and pharming, and how to report suspicious e-mails. </td>
                                        <td></td>
                                    </tr>
                                </table>
                                </div>
                            </div>