 <div class="innercontent clearfix">
                                <div id="main">
                                    <h1>What's New</h1>
                                    <div class="bottomborder">
                                        <p><strong><%= image_tag "memberrewards.jpg", :class => "fleft", :alt => "Member Rewards" %></strong>Refer a family member and/or Auto Club Co-worker and get rewarded!</p>
                                        <p>At Auto Club FCU, you are not just a customer -you are a member-owner.
                                        Your membership gives you access to the latest banking products
                                        and services, but without the high cost of a big bank relationship.
                                        You enjoy lower rates on loans, higher rates on deposits, and a
                                        host of free and low-cost services. Now your family and Auto Club
                                        co-workers can, too! <br />
                                        <br />
                                        Spread the word. <br />
                                        <br />
                                        <%= link_to "For a Member Rewards Referral Form click here!", "MEMBER%20REWARDS%20flyer%20feb08.doc", :rel => "external" %></p>
                                        <p>During our Member Rewards promotion, we invite you to refer someone you know
                                        ... a member of your family, even an Auto Club co-worker to ACFCU. If someone,
                                        you refer joins ACFCU and opens an ACFCU Regular Share (Savings) and an ACFCU
                                        Checking Account with direct deposit, you will both earn special cash reward
                                        of $25 each! </p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2>Transfer To ACFCU MasterCard and Save!</h2>
                                        <p>That High Interest Credit Card Balance On Your Mind? Apply For Our ACFCU Preferred
                                        MasterCard And Start Saving Today!!!</p>
                                        <p>Get a better deal by applying for our low-rate ACFCU MasterCard! Transfer your
                                        balances from your high interest rate credit cards and get an amazing 9.99% Intro/Balance
                                        Transfer rate! NO annual fee.</p>
                                        <p>If you presently have our PREFERRED card, and you are wondering, what does this
                                        promotion do for me? Unlike other Balance Transfer Promotions, with our ACFCU
                                        MasterCard, your ENTIRE existing balance along with your transferred/purchases
                                        (minimum $1,000.00 to qualify) will be 9.99% APR*. FOR ONE YEAR! Most
                                        other balance transfer programs will only offer you a discount rate on the amount
                                        you transfer and your existing balance remains at the original rate.</p>
                                        <p>Your ACFCU PREFERRED MasterCard can have a credit line of up to $15,000, a (25)-day
                                        grace period on purchases, no annual fee and 24-hour access for cash advances
                                        worldwide.</p>
                                        <p>Apply for your ACFCU MasterCard by filling out an application online at <%= link_to "www.autoclubfcu.com", "http://www.autoclubfcu.com" %>.
                                        Rates and terms subject to change at anytime.</p>
                                        <p class="smallprint">*All loans subject to approval. Rates, Terms, and limits may vary
                                        and will be subject to applicant's credit profile and FICO score - rate above
                                        reflects a .25% discount for automatic payment feature from an ACFCU account
                                        and/or having or obtaining an ACFCU MasterCard.</p>
                                        </div>
                                    <div class="bottomborder">
                                        <h2>Check Out Our Variety of Online Services!</h2>
                                        <p>HOME BANKING - BILL PAYER SERVICE - E-STATEMENTS!</p>
                                        <p>With Home Banking you can see your account, view transactions, transfer funds
                                        (within your own account), and even have a check mailed to you**. </p>
                                        <p>First Time Log In (See the blue menu tab to your left)<br />
                                        The first time you log into home banking, enter your member number on the first
                                        line, then enter the last four digits of your Social Security number in the PIN#
                                        field.</p>
                                        <p>You will automatically be asked to change your PIN (password) to your own selection.
                                        When that is done, you will discover the fast, convenient access available through
                                        Home Banking 24-hours a day and it's FREE!</p>
                                        <p class="smallprint">** For Auto Club Employees who wish to have their checks mailed
                                        to their mail stop - you must contact the Credit Union for this set up - otherwise
                                        all checks will be mailed to your home address on record.</p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2>Attention Members - &quot;MOM&quot; has changed!</h2>
                                        
                                        <ul class="disc">
                                        <li>Please listen to the new prompts carefully</li>
                                        <li>When entering &quot;MOM&quot; and asked for your &quot;Account Number&quot;,
                                        enter your &quot;Member Number&quot;.</li>
                                        <li>When asked for your &quot;PIN Number&quot;, enter your &quot;Access code&quot; as
                                        you have been doing previously.</li>
                                        </ul>
                                        <p>Our hope is to provide improved &quot;MOM&quot; with more access to your account.</p>
                                        <p>Thank you!</p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2>PUMP UP YOUR SAVINGS!<br />
                                        With AUTO LOAN RATES AS LOW AS 4.24%* APR!</h2>
                                        <p>Rates as low as 4.99%* APR on New and Used Auto Loans. We can also refinance
                                        any new or used car, van, SUV, or Truck you have financed with another institution!</p>
                                        <ul>
                                            <li>No application fees</li>
                                            <li>Terms up to 84 months</li>
                                            <li>Refinance existing auto loans from other lenders (including lease buy-outs)</li>
                                            <li>New loan rates for used auto loan financing (up to 5 years old)</li>
                                            <li>Get a .25% discount on automatic loan payment feature</li>
                                            <li>Pre-approval for easier, hassle-free shopping</li>
                                        </ul>
                                        <p class="smallprint"> * All loans are subject to approval. Rates and terms may vary
                                        based on member's individual credit profile and FICO score. Offer does not apply
                                        to current loans financed @ ACFCU.</p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2>24-hour convenience with your ACFCU</h2>
                                        <p>ATM Card, your credit union is a member of the largest credit union-only ATM
                                        network in the country. CO-OP Network membership provides surcharge-free access
                                        at 25,000 ATMs, which includes 6,000 deposit-taking and 5,500 7-Eleven locations
                                        throughout the U.S. and Canada. CO-OP Network's membership has access to over
                                        800,000 ATMs worldwide through links to NYCE, STAR, Cirrus, Pulse and Plus. Click
                                        the link below to learn more!</p>
                                        <%= link_to 'To find the nearest CO-OP ATM machine near you,<br /> Just visit the CO-OP web site, or Call Toll Free<br /> 1-888-748-3266', "http://www.co-opnetwork.org/public/find_atm/index.cfm", :rel => "external" %>
                                    </div>
                                    <div class="bottomborder">
                                        <h2>Personal Loans with rates as low as 9.99%* APR.</h2>
                                        <p><%= link_to "Checking Accounts Worth Checking Out", prodservices_path(:anchor => "checking") %></p>
                                        <p>Everyone needs a checking account. It's convenient, affordable, and it brings 
                                        the credit union closer to you.</p>
                                        <p><%= link_to 'Loan Rates You Can Live With', rate_path %></p>
                                        <p>You'll be glad when you look at our low loan <%= link_to 'rates', rate_path %>.&nbsp; <%= link_to "Apply online!", onlineapplications_path %></p>
                                        <p><%= link_to 'Fast Computation', calculates_path %>- Calculate your mortgage or loan 
                                        payments for better budgeting. Compute interest and watch your savings grow.</p>
                                        <p><%= link_to "Streamlined Reordering", "http://reorder.libertysite.com/", :rel => 'confirm' %> -Reorder your checks online anytime!</p>
                                    </div>
                                    <div class="bottomborder">
                                        <h2>Your family members are eligible!</h2>
                                        <p>
                                            Did you know by being a member of Auto Club Federal Credit Union extends
                                            the benefits to&nbsp;your&nbsp;entire family?&nbsp;Your spouse, children,
                                            grandchildren, grandparents, brothers, sisters, aunts, uncles, cousins,&nbsp;in-laws,
                                            and those living under the same household are all invited to become
                                            member-owners of the Auto Club Federal Credit Union!
                                        </p>
                                        <p>
                                            For your cash needs we have installed 3 ATM machines at the Long Beach,
                                            Torrance, and Laguna Hills District Offices. If you have a ACFCU
                                            ATM card your cash withdrawals are surcharge free! Call us for details.
                                        </p>
                                    </div>
                                    <br />
                                    <h2>Check 21</h2>
                                    <p>
                                        Auto Club FCU wants you to know about Check 21, a law&nbsp;that
                                        took&nbsp;effect on&nbsp;October 28, 2004.&nbsp; This law lets&nbsp;financial
                                        institutions send checks to each other electronically, eliminating the manual
                                        transport of paper checks.&nbsp;This greatly reduces the &quot;float time&quot;  for
                                        checks. &nbsp;Eventually, financial institutions will be able to instantly
                                        send checks anywhere in the country, thus reducing processing time and end
                                        the need to store paper checks.
                                    </p>
                                    <p>
                                        Just as you can today, you may request paper check reproductions
                                        to serve as legal substitutes for your original check(s). This law also aims
                                        to reduce check fraud by simplifying the check clearing process.&nbsp; Due
                                        processes already in place conversion to Check 21 will be virtually seamless
                                        to&nbsp;you.&nbsp; For more information on Check 21, please call us at (562)
                                        924 1843.
                                    </p>
                                </div>
                            </div>