 <div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                  <h3>Loan Application</h3>
                                  <table>
                                      <tr>
                                          <th class="blu" colspan="2"><strong>LOAN APPLICATION</strong></th>
                                      </tr>
                                      <tr>
                                        <td><%= image_tag "hp500.gif", :alt => '' %></td>
                                        <td><%= link_to "Click here", "pdf/loanapp.pdf", :rel => 'external', :class => "bold" %> to print your Loan Application.</td>
                                      </tr>
                                      <tr>
                                        <td><%=image_tag "ani-lock.gif", :alt => '' %></td>
                                        <td><%= link_to "Click here", "loanapp.asp", :rel => 'external', :class=>"bold" %> to securely submit your Loan Application online.</td>
                                      </tr>
                                      <tr>
                                          <td>&nbsp;</td>
                                          <td><%= link_to "Click here", "pdf/mastercard_disclosure.pdf", :rel => 'external', :class=>"bold" %> for our MasterCard Disclosure</td>
                                      </tr>
                                      <tr>
                                          <th class="blu" colspan="2"><strong>INVITATION
                                                  TO MEMBERSHIP</strong></th>
                                      </tr>
                                      <tr>
                                          <td><%= image_tag "hp500.gif", :alt=>"" %></td>
                                          <td><%= link_to "Click here", "pdf/memberapp.pdf", :rel => 'external', :class => "bold" %> to print your Invitation to Membership.</td>
                                      </tr>
                                      <tr>
                                          <th class="blu" colspan="2"><strong>ADDITIONAL
                                                  SERVICE REQUEST FORM</strong></th>
                                      </tr>
                                      <tr>
                                          <td><%= image_tag "hp500.gif", :alt=>"" %></td>
                                          <td><%= link_to "Click here", "pdf/additional_services.pdf", :rel => 'external', :class =>"bold" %>  to print your Additional Service Request Form</td>
                                      </tr>
                                  </table>
                                  <hr />
                                  <p>We have invested in VeriSign's secure server
                                      digital certificate to protect your data. Through the use of
                                      Secure Socket Layer (SSL) technology, the standard for secure
                                      communications on the Web, your data is being sent to a secure
                                      database and is encrypted to protect your privacy.
                                  </p>
                              </div>
                          </div>