<div class="innercontent clearfix">
                                <div id="main">
                                    <h1>Online Services</h1>
                                    <ul>
                                        <li><%= link_to "Secure Online Applications", onlineapplications_path %> -  Open a checking 
                                        	account or apply for a loan online in minutes!</li>
                                    </ul>
                                    <blockquote>
                                        <p>
                                            <span class="smallblack">*** If you choose to apply for a loan online, 
                                            you will be required to submit your most recent pay check stub and/or 
                                            other forms of verification of income and a signed application. Please 
                                            contact the Credit Union for more details </span>
                                            <span class="smallblack">*** If your interest is membership, the Credit 
                                            Union does require a  signed application and acceptable ID. Please check 
                                            with our staff for  details.</span>
                                        </p>
                                    </blockquote>
                                    <ul class="padded">
                                        <li><%= link_to "Streamlined Check Reordering", "http://reorder.libertysite.com/", :rel => 'confirm' %> - Reorder your checks online anytime!</li>
                                    </ul>   
                                    <blockquote>
                                        <p>
                                        	<span class="smallblack">We have invested in VeriSign's secure server 
                                            digital certificate to protect your data. Through the use of Secure 
                                            Socket Layer (SSL) technology, the standard for secure communications 
                                            on the Web, your data is being sent to a secure database and is 
                                            encrypted to protect your privacy.</span>
                                        </p>
                                    </blockquote>
                                    <ul class="pad">    
                                        <li><%= link_to "Info Desk", infodesk_path %> - Auto Club Federal Credit Union Information Desk</li>
                                        <li><%= link_to "Fast Computation", calculates_path %> - Calculate your mortgage or loan payments 
                                        	for better budgeting. Compute interest and watch your savings grow.</li>
                                        <li><%= link_to "Talk to Us", contact_path %> - Contact Us for more information. 
                                        	We will respond promptly.</li>
                                        <li><%= link_to "Links", links_path %> - Sites that may be of interest to our members.</li>
                                        <li><%= link_to "Fee Schedule", cufees_path %></li>
                                    </ul>
                                </div>
                            </div>