<div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                    <h1>Reg E Opt In/Opt Out Agreement</h1>
                                    <h2>What You Need to Know about Overdrafts and Overdraft Fees</h2>
                                    <p>An overdraft occurs when you do not have enough money in your account
                                        to cover a transaction, but we pay it anyway.&nbsp; We can cover your
                                        overdrafts in two different ways:</p>
                                    <ul>
                                        <li>Funds are transferred from a separate account such as
                                            a regular share account or checking account.</li>
                                        <li>Funds are transferred from a Line-of-Credit.</li>
                                        <li>Standard overdraft protection allows your account balance
                                            to go negative for a per-transaction fee.</li>
                                    </ul>
                                    <p>This notice explains our standard
                                        overdraft practices.<br />
                                        <em><strong>What are the standard
                                        overdraft practices that come
                                        with my account?</strong></em> <br />
                                        We do authorize and pay overdrafts
                                        for the following types of transactions:</p>
                                    <ul>
                                        <li>Checks and other transactions made using your checking
                                            account number</li>
                                        <li>Automatic bill payments</li>
                                    </ul>
                                    <p>We do not authorize and pay overdrafts
                                        for the following types of transactions
                                        unless you ask us:</p>
                                    <ul>
                                        <li>ATM transactions</li>
                                        <li>Everyday debit card transactions</li>
                                    </ul>
                                    <p>We pay overdrafts at our discretion,
                                        which means we do not guarantee
                                        that we will always authorize
                                        and pay any type of transaction.<br />
                                        If we do not authorize and pay
                                        an overdraft, your transaction
                                        will be declined.</p>
                                    <p>&nbsp;</p>
                                    <h4>What fees will I be charged if
                                        Auto Club Federal Credit Union
                                        Credit Union pays my overdraft?</h4>
                                    <p>Under our standard overdraft practices:</p>
                                    <ul>
                                        <li>A $25.00 per transaction
                                            fee will apply for all non-sufficient
                                            funds transactions in which
                                            standard overdraft protection
                                            applies.</li>
                                        <li>There is no limit on the
                                            total fees we can charge
                                            you for overdrawing your
                                            account.</li>
                                    </ul>
                                    <p>&nbsp;</p>
                                    <h4>What if I want Auto Club Federal
                                        Credit Union Credit Union to
                                        authorize and pay overdrafts
                                        on my ATM and everyday debit
                                        card transactions?</h4>
                                    <p>If you also want us to authorize
                                        and pay overdrafts on ATM and
                                        everyday debit card transactions <%= link_to "complete this form", "pdf/overdraft.pdf", :class => "bold", :rel => 'external' %> and:</p>
                                    <ul>
                                        <li>Mail <%= link_to "form", "pdf/overdraft.pdf", :class => "bold", :rel => "external" %> to
                                            Auto Club Federal Credit
                                            Union Credit Union, 18327
                                            Gridley Road, Suite F, Cerritos,
                                            CA 90703; or</li>
                                        <li>Drop the <%= link_to "form", "pdf/overdraft.pdf", :class => "bold", :rel => "external" %> off
                                            to either one of our credit
                                            union locations (18327 Gridley
                                            Road, Suite F, Cerritos,
                                            CA. 90703 or 3333 Fairview
                                            Road, A190, Costa Mesa, CA.
                                            92626; or</li>
                                        <li>Fax the <%= link_to "form", "pdf/overdraft.pdf", :class => "bold", :rel => "external" %> to
                                            562-924-5053, Attention Grace
                                            Plascencia; or</li>
                                        <li>Go online to <%= link_to "www.autoclubfcu.com", "http://www.autoclubfcu.com/", :class => "bold" %>
                                            </li>
                                    </ul>
                                    <p>If you have any questions regarding
                                        the form please feel free to
                                        contact us at 562-924-1843 or
                                        714-850-5157.</p>
                                <div>
                            </div>