        		</div> <!-- #outerright -->
        	</div> <!-- #outercontent -->
        <div id="bottomdivider">
        </div>
        <div id="footer">
            <div class="wide">
                <%= link_to "Privacy Policy", privacy_path %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <%= link_to "Lost / Stolen Cards", lostcards_path %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <%= link_to "MasterCard Disclosure", "pdf/mastercard_disclosure.pdf", :rel =>'external' %>
			</div>
            <div class="left">
                <span class="smallprint">Site designed &amp; maintained by</span><br />
				<%= link_to image_tag("shareone.gif", :alt => "Share One"), "http://www.shareone.com", :rel => 'external' %>
            </div>
            <div class="center">
                <%= link_to image_tag("https://www.securitymetrics.com/images/sm_ccsafe_wh.gif", :alt => "SecurityMetrics Credit Card Safe"), "https://www.securitymetrics.com/site_certificate.adp?s=63.144.54.229&amp;i=74191", :rel =>'external' %>
            </div>
            <div class="right">
            	<span class="right2"><%= image_tag "ncua_equal.gif", :alt => "NCUA" %></span>
            </div>
            <div class="right2">
                <p class="centertext">
                <%= image_tag "w3c.png", :alt =>"Valid XHTML 1.0 Strict" %>
            	</p>
            </div>
		</div>
	</div> 